<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ if .Title }}{{ .Title }} · {{ end }}{{ site.Title }}</title>
    <meta name="description" content="Kid-friendly dual-language classics: simple English + Español." />
    <link rel="icon" type="image/png" href="https://imagedelivery.net/uoQWLs2DQGCKz-4i8TTorQ/cec67720-b2ed-43fc-4099-c0987a94fb00/public" />
    <link rel="shortcut icon" type="image/png" href="https://imagedelivery.net/uoQWLs2DQGCKz-4i8TTorQ/cec67720-b2ed-43fc-4099-c0987a94fb00/public" />
    <link rel="apple-touch-icon" href="https://imagedelivery.net/uoQWLs2DQGCKz-4i8TTorQ/cec67720-b2ed-43fc-4099-c0987a94fb00/public" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    {{ $styles := resources.Get "css/main.css" | resources.ExecuteAsTemplate "css/main.css" . | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" />
  </head>
  <body class="lang-both">
    {{ partial "header.html" . }}
    <main class="container">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    <script src="{{ "js/main.js" | relURL }}"></script>
  </body>
  </html>
